.card {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 515px;
    background-color:rgb(113, 170, 113);
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#button1{
    margin-right: 40px;
}

#button2{
    margin-left: 40px;
}