.signup{
    border: 1px solid green;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    background-color:rgb(113, 170, 113)


}

#farmersignUp{
    margin-top: 100px;

}


/* .form-group{
    width: 500px;
} */

#farmerUserName{
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
}

#farmerLocation{
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
}


#farmerPassword{
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
}

#farmerPasswordConfirmation{
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
}

#error{
    color: red;
    font-size: large;
    font-weight: 500;
}