.login-options {
  background-image: url("https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?cs=srgb&dl=pexels-scott-webb-305821.jpg&fm=jpg&_gl=1*rb5kl0*_ga*MTM3NTk3ODA0Ny4xNjY0NjU2ODIz*_ga_8JE65Q40S6*MTY2Njk4MTAyNy4zLjEuMTY2Njk4MTQ4MS4wLjAuMA..");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}


.farmerlogin {
  margin-top: 300px;
  font-size: larger;
  /* font-style: normal; */
  font-weight: 700;
  border: 1px solid green;
  color: green;
  align-content: center;
  position: absolute;
  left: 45%;
  border-radius: 10px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;





}

.customerlogin {
  font-size: larger;
  /* font-style: normal; */
  font-weight: 700;
  border: 1px solid green;
  color: green;
  left: 45%;
  position: absolute;
  align-content: center;
  margin-top: 350px;
  border: 1px solid green;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 200px;
}

.login-options-header {
  color: green;
}