.navbar{
    height: 100px;
    border: 1px solid green;
    width: 100vw;
}
#navbar-brand{
    color: green;
    font-weight: 500;
    font-size: x-large;
}

.searchbutton {
    border: 1px solid green;
    border-radius: 10px;
}

