.navbar{
    height: 100px;
    border: 1px solid green;
}
#navbar-brand{
    color: green;
    font-weight: 500;
    font-size: x-large;
}

#nav-link {
    color: rgb(151, 151, 206);
    margin-right: 20px;
    cursor: pointer;
}

#gotofarmerpage{
    cursor: pointer;


}

#postnewproduct{
    cursor: pointer;
}

#gotoProductsPage{
    cursor: pointer;
}

#username{
    /* border: 1px solid green;
    border-radius: 10px;
    width: 100px;
    background-color: rgb(139, 187, 139); */
    color: rgba(144, 235, 8, 0.877);
}