.navbar{
    height: 100px;
    border: 1px solid green;
}
#navbar-brand{
    color: green;
    font-weight: 500;
    font-size: x-large;
}

#nav-link {
    color: rgb(151, 151, 206);
    margin-right: 20px;
    cursor: pointer;
}

#gotofarmerpage{
    cursor: pointer;


}

#postnewproduct{
    cursor: pointer;
}